
#cart-checkout-shipping {
    border-top: #eee 1px solid;
    display: none;
}

#cart-checkout-payment {
    border-top: #eee 1px solid;
    display: none;
}

.cart-checkout-payment-item {
    cursor: pointer;
}

.cart-checkout-payment-item img {
    max-width: 120px;
    max-height: 3rem;
    vertical-align: middle;
}

.cart-checkout-products {
    max-height: 20rem;
    overflow-y: auto;
    padding: 1rem 1rem 1rem 0;
}

.cart-checkout-products table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.cart-checkout-product-image {
    display: block;
    position: relative;
    width: 4rem;
    background-color: #fff;
}

.cart-checkout-product-image img {
    max-width: 100%;
}

.cart-checkout-product-image span {
    display: inline-block;
    position: absolute;
    right: -0.75rem;
    top: -0.75rem;
    font-size: 0.85rem;
    min-width: 1.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
    padding: 0 0.5rem;
    background-color: #666;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    white-space: nowrap;
    z-index: 3;
}


.cart-checkout-discount-code {
    border-top: #eee 1px solid;
    border-bottom: #eee 1px solid;
}