
.cart-index-products {

}

.cart-index-products table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.cart-index-products th {
    background-color: #fafafa;
    text-align: center;
    font-weight: 500;
    padding: 1rem .5rem;
}

@media (max-width: 768px) {
    .cart-index-products th {
        padding: .5rem .25rem;
    }
}

.cart-index-product {
    border: #eee 1px solid;
}

.cart-index-product td {
    padding: 2rem .5rem;
}

@media (max-width: 768px) {
    .cart-index-product td {
        padding: 1rem .25rem;
    }
}

.cart-index-products th:first-child,
.cart-index-product td:first-child {
    padding-left: 2rem;
}

.cart-index-products th:last-child,
.cart-index-product td:last-child {
    padding-right: 2rem;
}

@media (max-width: 768px) {
    .cart-index-products th:first-child,
    .cart-index-product td:first-child {
        padding-left: .5rem;
    }

    .cart-index-products th:last-child,
    .cart-index-product td:last-child {
        padding-right: .5rem;
    }

    .cart-index-product-head-amount,
    .cart-index-product-amount {
        display: none;
        width: 0;
        overflow: hidden;
    }
}

.cart-index-product-image {
    display: block;
    width: 4.5rem;
    background-color: #fff;
}

.cart-index-product-image img {
    max-width: 100%;
}


.cart-index-product-quantity-input {
    position: relative;
    min-width: 6rem;
    max-width: 8rem;
}

.cart-index-product-quantity-minus,
.cart-index-product-quantity-plus {
    position: absolute;
    top: 1px;
    bottom: 1px;
    width: 2rem;
    border: none;
    outline: 0;
    color: #aaa;
    background-color: #f6f6f6;
    border-radius: .25rem;
    cursor: pointer;
}

.cart-index-product-quantity-minus:hover,
.cart-index-product-quantity-plus:hover {
    color: #666;
    background-color: #eee;
}

.cart-index-product-quantity-minus.disabled,
.cart-index-product-quantity-plus.disabled,
.cart-index-product-quantity-minus:disabled,
.cart-index-product-quantity-plus:disabled {
    color: #ccc !important;
    background-color: #fafafa !important;
    pointer-events: none;
}

.cart-index-product-quantity-minus {
    left: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cart-index-product-quantity-plus {
    right: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cart-index-product-quantity {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}


.cart-index-product-remove {
    display: block;
    width: 2rem;
    height: 4rem;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3e%3cpath fill='%23999' d='M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.2rem 1.2rem;
}

.cart-index-product-remove:hover {
    background-color: #eee;
}


