
.be-center .order-mobile-status {
    color: #f30;
    padding-right: 1rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1rem 1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' fill='%23f30' d='M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z'/%3e%3c/svg%3e");
}

.be-center .order-table-head-space td {
    border: none !important;
    padding: 0 !important;
    height: 10px !important;
    overflow: hidden !important;
}

.be-center .order-table-body-space td {
    border: none !important;
    padding: 0 !important;
    height: 10px !important;
    overflow: hidden !important;
}
